/*.tab-pane {*/
/*    -fx-background-color: #ff2d5d;*/
/*}*/

/*.tab {*/
/*    -fx-min-height: 100px;*/
/*    -fx-background-color: #0553ff;*/
/*    -fx-font-family: "Cambria Math";*/
/*    -fx-font-size: 25px;*/
/*}*/

/*.tab-header-background {*/
/*    -fx-background-color: #041F4A;*/
/*}*/

/*
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

.tab-pane {
    -fx-background-color: #041F4A;
    -fx-tab-min-width:180px;
    -fx-tab-max-width:180px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}

.tab {
    -fx-font-family: "Cambria Math";
    -fx-font-size: 18;
    -fx-background-color:royalblue ;
}

.tab:selected {
    -fx-background-color: #87ebff;
    -fx-font-size: 22;
    -fx-text-base-color: green;
    //-tab-text-color: #ff1109;
}

.tab-label {
    //-fx-text-fill: -tab-text-color;
}
*/

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-border-color: #a3a7a8;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: white;
    -fx-pref-height: 50px;
    -fx-background-insets: 0;
    -fx-font-family: "Cambria Math";
    -fx-font-size: 18;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #2381E9 #a3a7a8 #a3a7a8 #a3a7a8;
    -fx-border-width: 5 1 1 1;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: white;
    -fx-pref-height: 50px;
    -fx-background-insets: 0;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: white;
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;
}

#txtTimKiem {
    /*-fx-background-image: url('http://icons.iconarchive.com/icons/rockettheme/halloween/32/pumpkin-icon.png');*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: left center;*/
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 2 0 ;
    -fx-background-radius: 0 ;
}

#txtTimKiem:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}